<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RavenDB.Client" version="3.0.3660" targetFramework="net453" />
  <package id="RavenDB.Database" version="3.0.3660" targetFramework="net453" />
  <package id="RavenDB.Embedded" version="3.0.3660" targetFramework="net453" />
  <package id="ServiceStack" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.0.40" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.40" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.202250711" targetFramework="net453" />
</packages>